root-v {
    min-height: 100vh;
    /* font-family: "Open Sans", sans-serif; */
    font-size: 1rem;
    grid-template-rows: auto 1fr;
    display: grid;
    color: var(--txt);
    background: var(--bkg-app);

    /* main:has(:not(app-v)) {
        padding-top: 1rem;
    } */

    main {
        display: grid;
        align-items: center;
        justify-content: center;
    }
}
