@import "./var-colors.pcss";

/* Third-party imports */
@import "./base.pcss";
@import "./plex.css";

@import "@carbon/styles/css/styles.css";
@import "./views/root-v.pcss";
@import "./views/app-v.pcss";
@import "./views/setup-v.pcss";
